{% extends 'base/base.html' %}

{% block title %} 
Address
{% endblock title %} 

{% block content %}
<section class="section-content padding-y" style="min-height:80vh">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Sidebar -->
                <div class="card">
                    <div class="card-body">
                        <!-- Sidebar content -->
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{% url 'profile' request.user%}">Profile</a></li>
                            <li class="list-group-item active"><a href="{% url 'address' %}">Addresses</a></li>
                            <li class="list-group-item"><a href="{% url 'change-password' %}">Change Password</a></li>
                            <!-- Add more menu items as needed -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">   
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Add Address</h5>
                            {% include "base/alert.html" %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required>
                                    <label>Number:</label>
                                    <input type="text" class="form-control" name="phone_number" required>
                                    <label>Address:</label>
                                    <input type="text" class="form-control" name="address" required>
                                    <label>Pincode:</label>
                                    <input type="text" class="form-control" name="pincode" required>
                                </div>
                                <!-- Add more fields as needed -->
                                <button type="submit" class="btn btn-primary">Add Address</button>
                            </form>
                        </div>
                    </div>
                    
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Your Addresses</h5>
                            <ul class="list-group">
                                {% for address in request.user.addresses.all %}
                                    <div class="card-body">
                                    <p class="title text-dark">
                                        <span>
                                            Name : {{address.name}},
                                        </span><span>
                                            Phone Number : {{address.phone_number}}
                                        </span>
                                    </p>
                                    <p class="text-dark small">
                                        {{address.address}}
                                    </p>
                                    <p class="text-dark small">
                                        {{address.pincode}}
                                    </p>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

