{% extends 'base/base.html' %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<section class="section-content padding-y" style="min-height:80vh">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Sidebar -->
        <div class="card">
          <div class="card-body">
            <!-- Sidebar content -->
            <ul class="list-group">
              <li class="list-group-item"><a href="{% url 'profile' request.user%}">Profile</a></li>
              <li class="list-group-item"><a href="{% url 'address' %}">Addresses</a></li>
              <li class="list-group-item active"><a href="{% url 'change-password' %}">Change Password</a></li>
              <!-- Add more menu items as needed -->
           </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- ============================ COMPONENT CHANEGE PASSWORD ================================= -->
        <div class="card mx-auto" >
          <div class="card-body">
            <h4 class="card-title mb-4">Change Password</h4>

            <form method="post">
              {% include 'base/alert.html' %}
              {% csrf_token %}
              <div class="form-group">
                <input required name="old_password" class="form-control" placeholder="Current Password" type="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input required name="new_password" class="form-control" placeholder="New Password" type="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <input required name="confirm_password" class="form-control" placeholder="Confirm Password"
                  type="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <button type="submit" class="btn btn-success"> Change Password </button>
              </div> <!-- form-group// -->
            </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
        <!-- ============================ COMPONENT CHANGE PASSWORD END.// ================================= -->
      </div>
    </div>
  </div>
</section>
{% endblock content %}