{% extends 'base/base.html' %}

{% block title %}
Payment
{% endblock title %}

{% block content %}

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right"> {% if cart.coupon %} {{cart.get_cart_total |add:cart.coupon.coupon_discount_price}} {% else %} {{cart.get_cart_total}} {% endif %}
                            </dd>
                        </dl>
                        {% if cart.coupon %}
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right"> {{cart.coupon.coupon_discount_price}} </dd>
                        </dl>
                        {% endif %}
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>{{cart.get_cart_total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="/static/images/misc/payments.png" height="26">
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Select Payment Method</h4>
                        <!-- Payment selection options -->
                        <div class="accordion" id="paymentAccordion">
                            <!-- Cash on Delivery -->
                            <div class="card">
                                <div class="card-header" id="cashOnDeliveryHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-block collapsed" type="button" data-toggle="collapse"
                                            data-target="#cashOnDeliveryCollapse" aria-expanded="false"
                                            aria-controls="cashOnDeliveryCollapse">
                                            Cash On Delivery
                                        </button>
                                    </h5>
                                </div>

                                <div id="cashOnDeliveryCollapse" class="collapse"
                                    aria-labelledby="cashOnDeliveryHeading" data-parent="#paymentAccordion">
                                    <div class="card-body">
                                        <!-- Payment form for Cash on Delivery -->
                                        <form method='POST'>
                                            {% csrf_token %}
                                            <!-- Additional fields specific to Cash on Delivery -->
                                            <!-- ... -->
                                            <div class="form-group">
                                                <label for="cashAmount">Cash Amount To Be Paid:</label>
                                                <input type="hidden" name="payment_method" value="COD">
                                                <input type="text" class="form-control" id="cashAmount" name="COD"
                                                    value="{{cart.get_cart_total}}" disabled>
                                            </div>
                                            <!-- Button to confirm Cash on Delivery -->
                                            <button type="submit" class="btn btn-primary btn-block">Confirm
                                                Order</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Cash on Delivery -->

                            <!-- Razorpay -->
                            <div class="card">
                                <div class="card-header" id="razorpayHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-block collapsed" type="button" data-toggle="collapse"
                                            data-target="#razorpayCollapse" aria-expanded="false"
                                            aria-controls="razorpayCollapse">
                                            Pay Via RazorPay
                                        </button>
                                    </h5>
                                </div>
                                <div id="razorpayCollapse" class="collapse" aria-labelledby="razorpayHeading"
                                    data-parent="#paymentAccordion">
                                    <div class="card-body">
                                        <!-- Payment form for RazorPay -->
                                        <form method="post">
                                            {% csrf_token %}
                                            <!-- Input fields for RazorPay details -->
                                            <!-- ... -->
                                            <input type="hidden" name="payment_method" value="razorpay">
                                            <!-- Button to confirm RazorPay payment -->
                                            <button type="submit"
                                                class="btn btn-primary btn-block">Confirm Order</button>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End RazorPay -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function togglePaymentForm() {
        var selectedMethod = document.getElementById("paymentMethod").value;
        var paymentForms = document.getElementsByClassName("payment-fields");
        for (var i = 0; i < paymentForms.length; i++) {
            if (paymentForms[i].id === selectedMethod + "Fields") {
                paymentForms[i].style.display = "block";
            } else {
                paymentForms[i].style.display = "none";
            }
        }
    }
</script>

{% if payment %}
    
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{secret_key}}",
        "amount": "{{ payment.amount }}",
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "{{ payment.id }}",
        "handler": function (response) {
            const data = {
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_order_id: response.razorpay_order_id,
                razorpay_signature: response.razorpay_signature,
                payment_method: "razorpay"
            };

            console.log('Sending payment data to backend:', JSON.stringify(data));

            const xhr = new XMLHttpRequest();
            const formData = new FormData();
            formData.append('razorpay_payment_id', response.razorpay_payment_id);
            formData.append('razorpay_order_id', response.razorpay_order_id);
            formData.append('razorpay_signature', response.razorpay_signature);
            formData.append('payment_method', "razorpay_success");
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            formData.append('csrfmiddlewaretoken', csrftoken);

            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 302) {
                    var json = JSON.parse(this.responseText); 
                    console.log(json.success);
                    //following line would actually change the url of your window.  
                    var redirectUrl = 'http://' + json.success;
                    window.location.assign(redirectUrl); 
                }
            };

            xhr.open('POST', 'http://127.0.0.1:8000/cart/payment/', true);
            xhr.send(formData);
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9913122945"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };

    var rzp1 = new Razorpay(options);

    rzp1.on('payment.failed', function (response) {
        // AJAX request when payment fails
        $.ajax({
            url: 'http://127.0.0.1:8000/cart/payment/',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(response),
            success: function(data) {
                console.log('Payment failure data sent to backend:', data);
            },
            error: function(xhr, status, error) {
                console.error('Error sending payment failure data to backend:', error);
            }
        });
    });
    
    rzp1.open();

{% endif %}    
</script>
{% endblock content %} 